
.trheight {
	line-height: 60px;
}
div.left {
	font-weight: bold;
	color: #FFFFFF;
	left: 25px;
	position:relative;
}

#bottom {
float:left;
position:absolute;
left:552px;
top:248px;
}
#top {
 

 float:left;

 bottom:0px;
 padding:0px;
 margin:0px;
 top:0px;
}

tr#titleempty {
	
	height: 165px;
}
tr#welcomeempty {
	height: 50px;
}

.blackbold {
	font-weight: bold;
	color: #000000;
}
.bluebold {
	font-weight: bold;
	color: #003399;
}
